<nav class="navbar navbar-dark bg-dark justify-content-between">
  <div class="container">
    <h3 class="navbar-brand light">{{peliculaDetalle?.Title}}</h3>
    <div class="form-inline">
      <button class="btn btn-outline-alert ml-2" type="button" [routerLink]="['/listado']">VOLVER</button>
    </div>
  </div>
</nav>

<div class="container" *ngIf = "peliculaDetalle">
    <div class="row mt-3">
        <div class="col-lg-4">
            <img src="{{peliculaDetalle?.Poster}}" width="100%">
        </div>
        <div class="col-lg-8">
            <h2>{{peliculaDetalle?.Title}}</h2>
            <p><strong>Actores: </strong>{{peliculaDetalle?.Actors}}</p>
            <p><strong>Premios: </strong>{{peliculaDetalle?.Awards}}</p>
            <p><strong>Country: </strong>{{peliculaDetalle?.Country}}</p>
            <p><strong>Genero: </strong>{{peliculaDetalle?.Genre}}</p>
            <p><strong>Escritor: </strong>{{peliculaDetalle?.Writer}}</p>
            <p-rating
                stars="10" 
                [cancel]="false"
                [readonly]="true"
                [(ngModel)]="peliculaDetalle.imdbRating">
            </p-rating>
        </div>
    </div>
</div>