<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 formulario">
    <img src="http://congress.ticketea.net/img/2017/05/09/evt_0/1c71d1b49b908f57a442617ed0441636.png">
      <section class="login-form">  
        <form [formGroup]="formLogin" role="login">
          <h5>Introduce tus datos de acceso</h5>
          <input type="email" formControlName="email" class="form-control input-lg" placeholder="Email" />
          <input type="password" class="form-control input-lg" placeholder="Contraseña" formControlName="pass" />
          <button type="submit" (click)="onSubmit()" [disabled]="!formLogin.valid" class="btn btn-lg btn-primary btn-block">Entrar</button>
          <p-message *ngIf="!formLogin.valid" severity="info" text="Debes rellenar los dos campos"></p-message>
          <p-message *ngIf="errorAcceso" severity="error" text="Los datos de acceso no son correctos"></p-message>
        </form>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>