<nav class="navbar navbar-dark bg-dark justify-content-between">
  <div class="container">
    <h3 class="navbar-brand light">LOGADO CON: {{currentSesion?.usuario.email}}</h3>
    <div class="form-inline">
      <input class="form-control mr-sm-2" type="search" [(ngModel)]="filtro" placeholder="Introduce Filtro">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="buscarPeliculas()">Buscar</button>
      <button class="btn btn-outline-alert ml-2" type="button" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  </div>
</nav>

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4">FILTRO DE PELÍCULAS</h2>
      <p>Selecciona el tipo de película que quieres filtrar</p>
    </div>
  </div>

  <div class="container" *ngIf="peliculas">
    <div class="row">
      <div class="col-lg-9">
        <div class="container">
          <h2>LISTADO DE PELICULAS POR: {{filtro}}</h2>
          <div class="row">
            <div class="col-lg-3 col-md-4 mb-3" *ngFor="let pelicula of peliculas">
              <div class="card">
                <img class="card-img-top" src="{{pelicula.Poster}}" alt="{{pelicula.Title}}" *ngIf = "pelicula.Poster != 'N/A'">
                <img class="card-img-top" src="https://www.nilfiskcfm.com/wp-content/uploads/2016/12/placeholder.png" alt="{{pelicula.Title}}" *ngIf = "pelicula.Poster == 'N/A'">
                <div class="card-body">
                  <h5 class="card-title">{{pelicula.Title}}</h5>
                  <i class="fas fa-info-circle" [routerLink]="['/detalle', pelicula.imdbID]"></i>
                  <i class="fas fa-star float-right" (click)="addFavorito(pelicula)"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="container">
          <h2>FAVORITOS</h2>
          <div class="row">
            <div class="col-lg-6 mb-3" *ngFor="let favorito of favoritos">
              <div class="card card-right">
                <img class="card-img-top" src="{{favorito.Poster}}" alt="{{favorito.Title}}" *ngIf = "favorito.Poster != 'N/A'">
                <img class="card-img-top" src="https://www.nilfiskcfm.com/wp-content/uploads/2016/12/placeholder.png" alt="{{favorito.Title}}" *ngIf = "favorito.Poster == 'N/A'">
                <div class="card-body p-1">
                  <p>{{favorito.Title}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>

</main>

<footer class="container">
  <p>&copy; César Martín Díaz</p>
</footer>

